@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
  font-style: normal;
  font-weight: 700;
}

:root {
  --text: #3b1c32;
  --button: #b96d40;
  --light: #ffcf9c;
  --accent: #ca054d;
  --background: #a4d4b4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}
